<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Arduino Factory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudio">
        <activity android:name=".cours.pour_cedric"></activity>
        <activity android:name=".Page_Internet" />
        <activity
            android:name=".pages.Page_Notification"
            android:label="Nouveauté"
            android:value=".MainActivity" />
        <activity
            android:name=".pages.Page_Favoris"
            android:label="Favoris"
            android:value=".MainActivity" />
        <activity
            android:name=".pages.Page_Parametre"
            android:label="Paramètre">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".outils.Outils_telecommande"
            android:label="Télécommande"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.Page_Outils" />
        </activity>
        <activity
            android:name=".outils.Outils_telecommande_tuto"
            android:label="Télécommande">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.Page_Outils" />
        </activity>
        <activity
            android:name=".outils.Outils_resistance"
            android:label="Résistance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.Page_Outils" />
        </activity>
        <activity
            android:name=".pages.Page_Outils"
            android:label="Outils">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CORBEILLE.Page_Achat"
            android:label="Achat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CORBEILLE.achat_version2"
            android:label="Achat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".achat.Achat_Main"
            android:configChanges="orientation|screenSize"
            android:label="Achat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".contact.Contactez_nous"
            android:label="Contactez-nous">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.Page_Contact" />
        </activity>
        <activity
            android:name=".contact.A_propos"
            android:label="A propos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.Page_Contact" />
        </activity>
        <activity
            android:name=".pages.Page_Contact"
            android:label="Contact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".pages.Page_Cours"
            android:label="Cours">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".pages.Cours"
            android:label="Cours">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Arduino Factory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>