<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="2">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudio">

        <!-- ✅ App ID AdMob correctement placé -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6767741813773671~8110561634" />

        <!-- Activities -->
        <activity android:name="com.ArduinoFactory.androidstudio.page_accessoire.Page_Internet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.page_principal.MainActivity" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.Notification.Page_Notification"
            android:label="@string/label_notification"
            android:value=".MainActivity" />

        <activity
            android:name="com.ArduinoFactory.androidstudio.favoris.Page_Favoris"
            android:label="@string/label_favoris"
            android:value=".MainActivity" />

        <activity
            android:name="com.ArduinoFactory.androidstudio.page_accessoire.Page_Parametre"
            android:label="@string/label_parametre">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.page_principal.MainActivity" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.outils.Outils_telecommande"
            android:label="@string/label_telecommande"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.outils.Page_Outils" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.outils.Outils_telecommande_tuto"
            android:label="@string/label_telecommande">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.outils.Page_Outils" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.outils.Outils_resistance"
            android:label="@string/label_resistance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.outils.Page_Outils" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.outils.Outils_reconnaissance_composants"
            android:label="@string/label_reconnaissance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.outils.Page_Outils" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.outils.Page_Outils"
            android:label="@string/label_outils">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.page_principal.MainActivity" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.achat.Achat_Main"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_achat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.page_principal.MainActivity" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.contact.Contactez_nous"
            android:label="@string/label_contactez_nous">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.contact.Page_Contact" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.contact.A_propos"
            android:label="@string/label_a_propos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.contact.Page_Contact" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.contact.Page_Contact"
            android:label="@string/label_contact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.page_principal.MainActivity" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.cours.Cours_Main"
            android:label="@string/label_cours">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.page_principal.MainActivity" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.cours.Cours_Detail"
            android:label="@string/label_cours"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ArduinoFactory.androidstudio.cours.Cours_Main" />
        </activity>

        <activity
            android:name="com.ArduinoFactory.androidstudio.page_principal.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase messaging service -->
        <service
            android:name="com.ArduinoFactory.androidstudio.Notification.NotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
